
.planet_text {
    color: white;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    text-align: center;
    transform: translate(0, +100%);
    background-color: rgba(0, 0, 0, 1.0);
    padding: 2px;
    font-size: 10pt;
    max-width: 100px;
    cursor: pointer;
    text-wrap: nowrap;
    opacity: 0.2;
  }

  .planet_text:hover {
    color: white;
    opacity: 1;
  }