
.customSlider {
    /* max width of your slider */
    /* Optional: Only If you want to center your slider in the page */
    margin: auto;
    pointer-events: auto;
    overflow: hidden;
    text-align: center;
    align-items: center;
    height: 100%;

    position: relative;

  }
  .tick_label_top {
    top: -20px;
    width: 120px;
    text-align: center;
    position: relative;
    transform: translate(-45%, 0%);
    color:black;
  }



  .selected_tick {
    color: rgba(255, 255, 255, 0);
    
  }

  .customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: -1.5px;
    /* thickness of the track */
    width: 1px;
   /* default color of your track */
    background: var(--dark-grey);
    overflow: hidden;
    right: 1px;
  }
  
  .customSlider-track.customSlider-track-0 {
    /* color of the track before the thumb */
    background: var(--light-grey);
    border-radius: 0px;
  }
  .customSlider-thumb {
    right: 1px;
    width: 5px;
    height: 1px;
    background-color: var(--light-grey);
  }
  .customSlider-mark {
    cursor: pointer;
    width: 10px;
    height: 1px;
    background-color: var(--medium-grey);
    right: 1px;
  }

  .end_mark {
    border: solid 2px var(--track-color);
    background-color: white;
  }
  .selected_mark{
    background-color: var(--track-color);
  }
  .customSlider-mark:hover {
    background-color: red;
  }

  .customSlider-mark:hover .tick_label_top {
    color: red;
  }
  .slider__labels {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
    height: 30px;
    width: 100%;
  }
  
  .slider__labels-label {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
    box-sizing: border-box;
    pointer-events: auto;
    
  }



  .custom_slider_container {
    padding: 0px;
    padding-right: 60px;
    bottom: 0px;
    position: relative;
  }


  
  .lab {
    cursor: pointer;

  }
  .slider__labels-label:hover {
    color:red
  }

  .slider_mark {
    font-size: 8pt;
  }

 
  .slider_label_text {
    position: absolute;
    text-align: right;
    right: 10px;
    text-wrap: nowrap;
    color: var(--medium-grey);
    font-size: 8pt;
    transform: rotate(-90deg);
    cursor: pointer;
  }

  .slider_label_text:hover {
    color: white;
    cursor: pointer;
  }