.App {
  text-align: center;
  height: 100%;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body { 
  height: 100%;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

p {
  color: white;
}
h1 {
  color:white;
  font-family: 'Helvetica Neue', sans-serif !important;

}
h2{
  color: white;
  font-family: 'Helvetica Neue', sans-serif !important;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#root {
  height: 100%;
}
#canvas-container {
  width: 100%;
  height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#overlay-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
  z-index: 10;
}



.caption_type {
  font-size: 100pt;
  font-weight: 300;
  color: white;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
}
.controls-container > * {
  pointer-events: auto;

}


.controls-container {
}

.distances-container{
  width: 10%;

  float: right;
}

.distances-container img {
  height: 80vh;
}



:root {
  --main-color: rgb(0, 0, 0);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #e3e3e3;
  --mark-color: #010101;

  --light-grey: rgb(200, 200, 200);
  --medium-grey: rgb(145, 145, 145);
  --dark-grey: rgb(50, 50, 50);

}











input[type=range][orient=vertical] {
  appearance: slider-vertical;
  width: 8px;
  height: 70%;
  padding: 0 5px;

}





.default_button {
  background: none;
  border: none;
  color:var(--dark-grey);
  cursor: pointer;
  padding: 0px
}

.default_button:active{
  color: red;
}
.default_button:hover {
  color: var(--light-grey);
}
.default_button img {
  width: 25px;
  filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(136deg) brightness(112%) contrast(100%);


}




.bottomCreditContainer {
  position: absolute;
  bottom: 0px;
  text-align: left;
  width: 100%;
  pointer-events: auto;
}






